<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC 
	"-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	</typeAliases>
	<mappers>
		<!-- <mapper resource="com/baidu/mapper/testMapper.xml" /> -->
		<!-- <mapper resource="com/baidu/mapper/GenderTrendMapper.xml" /> <mapper resource="com/baidu/mapper/PashionMapper.xml /> -->
		<mapper resource="com/dream/mapper/CheckcodeMapper.xml" />
		<mapper resource="com/dream/mapper/CommentMapper.xml" />
		<mapper resource="com/dream/mapper/PraiseMapper.xml" />
		<mapper resource="com/dream/mapper/ThemeMapper.xml" />
		<mapper resource="com/dream/mapper/UserinfoMapper.xml" />
		<mapper resource="com/dream/mapper/UserMapper.xml" />
		<mapper resource="com/dream/mapper/KindsMapper.xml" />
		<mapper resource="com/dream/mapper/ActivityMapper.xml" />
		<mapper resource="com/dream/mapper/ActivityvipMapper.xml" />
		<mapper resource="com/dream/mapper/RegisteractivityMapper.xml" />
	</mappers>
</configuration>
