<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean -->
	<bean id="message" class="com.dream.weddingexpo.bean.Message" scope="prototype" />
	<bean id="top" class="com.dream.weddingexpo.bean.Top" scope="prototype" />
	<bean id="projectFile" class="com.dream.weddingexpo.bean.ProjectFile" scope="prototype" />
	<bean id="user" class="com.dream.weddingexpo.bean.User" scope="prototype" />
	
	
	<!-- action -->
	<bean id="messageAction" class="com.dream.weddingexpo.action.MessageAction" scope="prototype">
		<property name="message" ref="message"></property>
		<property name="messageService" ref="messageService"/>
	</bean>
	<bean id="topAction" class="com.dream.weddingexpo.action.TopAction" scope="prototype">
		<property name="top" ref="top"></property>
		<property name="topService" ref="topService"/>
	</bean>
	<bean id="projectFileAction" class="com.dream.weddingexpo.action.ProjectFileAction" scope="prototype">
		<property name="projectFile" ref="projectFile"></property>
		<property name="projectFileService" ref="projectFileService"/>
	</bean>
	<bean id="userAction" class="com.dream.weddingexpo.action.UserAction" scope="prototype">
		<property name="user" ref="user"></property>
		<property name="userService" ref="userService"/>
	</bean>
	<bean id="fileAction" class="com.dream.weddingexpo.action.DownloadAction" scope="prototype">
	</bean>
	<bean id="otherAction" class="com.dream.weddingexpo.action.OtherAction" scope="prototype">
	</bean>
	
	
			
	<!-- service -->
	<bean id="messageService" class="com.dream.weddingexpo.service.impl.MessageServiceImpl" >
		<property name="messageDao" ref="messageDao" />
		<property name="topDao" ref="topDao" />
	</bean>
	<bean id="topService" class="com.dream.weddingexpo.service.impl.TopServiceImpl" >
		<property name="topDao" ref="topDao" />
	</bean>
	<bean id="projectFileService" class="com.dream.weddingexpo.service.impl.ProjectFileServiceImpl" >
		<property name="projectFileDao" ref="projectFileDao" />
	</bean>
	<bean id="userService" class="com.dream.weddingexpo.service.impl.UserServiceImpl" >
		<property name="userDao" ref="userDao" />
	</bean>
	
	<!-- dao -->
	<bean id="messageDao" class="com.dream.weddingexpo.dao.impl.MessageDaoImpl" />
	<bean id="topDao" class="com.dream.weddingexpo.dao.impl.TopDaoImpl" />
	<bean id="projectFileDao" class="com.dream.weddingexpo.dao.impl.ProjectFileDaoImpl" />
	<bean id="userDao" class="com.dream.weddingexpo.dao.impl.UserDaoImpl" />	

</beans>
