<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.dao.ActivityvipMapper">
  <resultMap id="BaseResultMap" type="com.dream.bean.Activityvip">
    <id column="activityid" jdbcType="INTEGER" property="activityid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
  </resultMap>
  <sql id="Base_Column_List">
    activityid, userid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activityvip
    where activityid = #{activityid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activityvip
    where activityid = #{activityid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.Activityvip">
    insert into activityvip (activityid, userid)
    values (#{activityid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.Activityvip">
    insert into activityvip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityid != null">
        activityid,
      </if>
      <if test="userid != null">
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityid != null">
        #{activityid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.Activityvip">
    update activityvip
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where activityid = #{activityid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.Activityvip">
    update activityvip
    set userid = #{userid,jdbcType=INTEGER}
    where activityid = #{activityid,jdbcType=INTEGER}
  </update>


	<!-- add by wsg -->
	<!-- 通用方法 -->
	<!-- ，参数为对象，返回list<对象> -->


	<select id="listActivityvip" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from activityvip
		<where>
			activityid = #{activityid, jdbcType=INTEGER}
		</where>
	</select>

	<select id="detailUserinfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from activityvip
		<where>
			userid = #{userid, jdbcType=INTEGER}
		</where>
	</select>
	<select id="countUserinfo" resultType="java.lang.Integer">
		select count(*)
		from activityvip
		<where>
			userid = #{userid, jdbcType=INTEGER}
		</where>
	</select>
	
	
</mapper>