<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.dream.bean.Message" >
    <id column="messageid" property="messageid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="isread" property="isread" jdbcType="VARCHAR" />
    <result column="messagedate" property="messagedate" jdbcType="VARCHAR" />
    <result column="messagecontent" property="messagecontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    messageid, userid, isread, messagedate, messagecontent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message
    where messageid = #{messageid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where messageid = #{messageid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.Message" >
    <selectKey resultType="java.lang.Integer" keyProperty="messageid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into message (userid, isread, messagedate, 
      messagecontent)
    values (#{userid,jdbcType=INTEGER}, #{isread,jdbcType=VARCHAR}, #{messagedate,jdbcType=VARCHAR}, 
      #{messagecontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.Message" >
    <selectKey resultType="java.lang.Integer" keyProperty="messageid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="isread != null" >
        isread,
      </if>
      <if test="messagedate != null" >
        messagedate,
      </if>
      <if test="messagecontent != null" >
        messagecontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="isread != null" >
        #{isread,jdbcType=VARCHAR},
      </if>
      <if test="messagedate != null" >
        #{messagedate,jdbcType=VARCHAR},
      </if>
      <if test="messagecontent != null" >
        #{messagecontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.Message" >
    update message
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="isread != null" >
        isread = #{isread,jdbcType=VARCHAR},
      </if>
      <if test="messagedate != null" >
        messagedate = #{messagedate,jdbcType=VARCHAR},
      </if>
      <if test="messagecontent != null" >
        messagecontent = #{messagecontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where messageid = #{messageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dream.bean.Message" >
    update message
    set userid = #{userid,jdbcType=INTEGER},
      isread = #{isread,jdbcType=VARCHAR},
      messagedate = #{messagedate,jdbcType=VARCHAR},
      messagecontent = #{messagecontent,jdbcType=LONGVARCHAR}
    where messageid = #{messageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.Message" >
    update message
    set userid = #{userid,jdbcType=INTEGER},
      isread = #{isread,jdbcType=VARCHAR},
      messagedate = #{messagedate,jdbcType=VARCHAR}
    where messageid = #{messageid,jdbcType=INTEGER}
  </update>
  	<!-- add by wsg -->
	<!-- 通用方法 -->
	<!-- ，参数为对象，返回list<对象> -->


	<select id="listMessage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from message
		<where>
			<if test="messageid != null and messageid != '' ">
				messageid = #{messageid, jdbcType=INTEGER}  
			</if>
			<if test="messagecontent != null and messagecontent != ''">
				AND messagecontent = #{messagecontent, jdbcType=VARCHAR}  
			</if>
			<if test="userid != null and userid != ''">
				AND userid = #{userid, jdbcType=INTEGER}
			</if>
			<if test="isread != null and isread != ''">
				AND isread = #{isread, jdbcType=INTEGER}
			</if>
			<if test="messagedate != null and messagedate != ''">
				AND messagedate = #{userid, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	

	<select id="listRoughMessage" resultMap="BaseResultMap">
		select
			messageid, userid, isread, messagedate
		from message
		<where>
			<if test="messageid != null and messageid != '' ">
				messageid = #{messageid, jdbcType=INTEGER}  
			</if>
			<if test="messagecontent != null and messagecontent != ''">
				AND messagecontent = #{messagecontent, jdbcType=VARCHAR}  
			</if>
			<if test="userid != null and userid != ''">
				AND userid = #{userid, jdbcType=INTEGER}
			</if>
			<if test="isread != null and isread != ''">
				AND isread = #{isread, jdbcType=INTEGER}
			</if>
		</where>
	</select>
	
	<select id="detailMessage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from message
		<where>
			<if test="messageid != null and messageid != '' ">
				messageid = #{messageid, jdbcType=INTEGER}  
			</if>
			<if test="messagecontent != null and messagecontent != ''">
				AND messagecontent = #{messagecontent, jdbcType=VARCHAR}  
			</if>
			<if test="userid != null and userid != ''">
				AND userid = #{userid, jdbcType=INTEGER}
			</if>
			<if test="isread != null and isread != ''">
				AND isread = #{isread, jdbcType=INTEGER}
			</if>
			<if test="messagedate != null and messagedate != ''">
				AND messagedate = #{userid, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="countMessage" resultType="java.lang.Integer">
		select count(*)
		from message
		<where>
			<if test="messageid != null and messageid != '' ">
				messageid = #{messageid, jdbcType=INTEGER}  
			</if>
			<if test="messagecontent != null and messagecontent != ''">
				AND messagecontent = #{messagecontent, jdbcType=VARCHAR}  
			</if>
			<if test="userid != null and userid != ''">
				AND userid = #{userid, jdbcType=INTEGER}
			</if>
			<if test="isread != null and isread != ''">
				AND isread = #{isread, jdbcType=INTEGER}
			</if>
			<if test="messagedate != null and messagedate != ''">
				AND messagedate = #{userid, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
</mapper>