<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.dao.PrizeMapper">
  <resultMap id="BaseResultMap" type="com.dream.bean.Prize">
    <id column="prizeid" jdbcType="INTEGER" property="prizeid" />
    <result column="lotteryid" jdbcType="INTEGER" property="lotteryid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="prizelevel" jdbcType="VARCHAR" property="prizelevel" />
    <result column="prizetime" jdbcType="VARCHAR" property="prizetime" />
    <result column="isexchange" jdbcType="INTEGER" property="isexchange" />
  </resultMap>
  <sql id="Base_Column_List">
    prizeid, lotteryid, userid, prizelevel, prizetime, isexchange
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prize
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prize
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="prizeid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prize (lotteryid, userid, prizelevel, 
      prizetime, isexchange)
    values (#{lotteryid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{prizelevel,jdbcType=VARCHAR}, 
      #{prizetime,jdbcType=VARCHAR}, #{isexchange,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="prizeid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lotteryid != null">
        lotteryid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="prizelevel != null">
        prizelevel,
      </if>
      <if test="prizetime != null">
        prizetime,
      </if>
      <if test="isexchange != null">
        isexchange,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lotteryid != null">
        #{lotteryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="prizelevel != null">
        #{prizelevel,jdbcType=VARCHAR},
      </if>
      <if test="prizetime != null">
        #{prizetime,jdbcType=VARCHAR},
      </if>
      <if test="isexchange != null">
        #{isexchange,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.Prize">
    update prize
    <set>
      <if test="lotteryid != null">
        lotteryid = #{lotteryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="prizelevel != null">
        prizelevel = #{prizelevel,jdbcType=VARCHAR},
      </if>
      <if test="prizetime != null">
        prizetime = #{prizetime,jdbcType=VARCHAR},
      </if>
      <if test="isexchange != null">
        isexchange = #{isexchange,jdbcType=INTEGER},
      </if>
    </set>
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.Prize">
    update prize
    set lotteryid = #{lotteryid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      prizelevel = #{prizelevel,jdbcType=VARCHAR},
      prizetime = #{prizetime,jdbcType=VARCHAR},
      isexchange = #{isexchange,jdbcType=INTEGER}
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dream.bean.Prize">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="bonuspoint" jdbcType="BIGINT" property="bonuspoint" />
    <result column="remainbp" jdbcType="BIGINT" property="remainbp" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, bonuspoint, remainbp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bonuspoint
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bonuspoint
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="userid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bonuspoint (bonuspoint, remainbp)
    values (#{bonuspoint,jdbcType=BIGINT}, #{remainbp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="userid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bonuspoint
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bonuspoint != null">
        bonuspoint,
      </if>
      <if test="remainbp != null">
        remainbp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bonuspoint != null">
        #{bonuspoint,jdbcType=BIGINT},
      </if>
      <if test="remainbp != null">
        #{remainbp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.Prize">
    update bonuspoint
    <set>
      <if test="bonuspoint != null">
        bonuspoint = #{bonuspoint,jdbcType=BIGINT},
      </if>
      <if test="remainbp != null">
        remainbp = #{remainbp,jdbcType=BIGINT},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.Prize">
    update bonuspoint
    set bonuspoint = #{bonuspoint,jdbcType=BIGINT},
      remainbp = #{remainbp,jdbcType=BIGINT}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dream.bean.Prize">
    <id column="prizeid" jdbcType="INTEGER" property="prizeid" />
    <result column="lotteryid" jdbcType="INTEGER" property="lotteryid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="prizelevel" jdbcType="VARCHAR" property="prizelevel" />
    <result column="prizetime" jdbcType="VARCHAR" property="prizetime" />
    <result column="isexchange" jdbcType="INTEGER" property="isexchange" />
  </resultMap>
  <sql id="Base_Column_List">
    prizeid, lotteryid, userid, prizelevel, prizetime, isexchange
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prize
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prize
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="prizeid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prize (lotteryid, userid, prizelevel, 
      prizetime, isexchange)
    values (#{lotteryid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{prizelevel,jdbcType=VARCHAR}, 
      #{prizetime,jdbcType=VARCHAR}, #{isexchange,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="prizeid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lotteryid != null">
        lotteryid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="prizelevel != null">
        prizelevel,
      </if>
      <if test="prizetime != null">
        prizetime,
      </if>
      <if test="isexchange != null">
        isexchange,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lotteryid != null">
        #{lotteryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="prizelevel != null">
        #{prizelevel,jdbcType=VARCHAR},
      </if>
      <if test="prizetime != null">
        #{prizetime,jdbcType=VARCHAR},
      </if>
      <if test="isexchange != null">
        #{isexchange,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.Prize">
    update prize
    <set>
      <if test="lotteryid != null">
        lotteryid = #{lotteryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="prizelevel != null">
        prizelevel = #{prizelevel,jdbcType=VARCHAR},
      </if>
      <if test="prizetime != null">
        prizetime = #{prizetime,jdbcType=VARCHAR},
      </if>
      <if test="isexchange != null">
        isexchange = #{isexchange,jdbcType=INTEGER},
      </if>
    </set>
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.Prize">
    update prize
    set lotteryid = #{lotteryid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      prizelevel = #{prizelevel,jdbcType=VARCHAR},
      prizetime = #{prizetime,jdbcType=VARCHAR},
      isexchange = #{isexchange,jdbcType=INTEGER}
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dream.bean.Prize">
    <id column="checkcodeid" jdbcType="INTEGER" property="checkcodeid" />
    <result column="checkcode" jdbcType="VARCHAR" property="checkcode" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    checkcodeid, checkcode, telephone, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from checkcode
    where checkcodeid = #{checkcodeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from checkcode
    where checkcodeid = #{checkcodeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.Prize">
    insert into checkcode (checkcodeid, checkcode, telephone, 
      createtime)
    values (#{checkcodeid,jdbcType=INTEGER}, #{checkcode,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.Prize">
    insert into checkcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkcodeid != null">
        checkcodeid,
      </if>
      <if test="checkcode != null">
        checkcode,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkcodeid != null">
        #{checkcodeid,jdbcType=INTEGER},
      </if>
      <if test="checkcode != null">
        #{checkcode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.Prize">
    update checkcode
    <set>
      <if test="checkcode != null">
        checkcode = #{checkcode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where checkcodeid = #{checkcodeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.Prize">
    update checkcode
    set checkcode = #{checkcode,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where checkcodeid = #{checkcodeid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dream.bean.Prize">
    <id column="prizeid" jdbcType="INTEGER" property="prizeid" />
    <result column="lotteryid" jdbcType="INTEGER" property="lotteryid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="prizelevel" jdbcType="VARCHAR" property="prizelevel" />
    <result column="prizetime" jdbcType="VARCHAR" property="prizetime" />
    <result column="isexchange" jdbcType="INTEGER" property="isexchange" />
  </resultMap>
  <sql id="Base_Column_List">
    prizeid, lotteryid, userid, prizelevel, prizetime, isexchange
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prize
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prize
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="prizeid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prize (lotteryid, userid, prizelevel, 
      prizetime, isexchange)
    values (#{lotteryid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{prizelevel,jdbcType=VARCHAR}, 
      #{prizetime,jdbcType=VARCHAR}, #{isexchange,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="prizeid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lotteryid != null">
        lotteryid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="prizelevel != null">
        prizelevel,
      </if>
      <if test="prizetime != null">
        prizetime,
      </if>
      <if test="isexchange != null">
        isexchange,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lotteryid != null">
        #{lotteryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="prizelevel != null">
        #{prizelevel,jdbcType=VARCHAR},
      </if>
      <if test="prizetime != null">
        #{prizetime,jdbcType=VARCHAR},
      </if>
      <if test="isexchange != null">
        #{isexchange,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.Prize">
    update prize
    <set>
      <if test="lotteryid != null">
        lotteryid = #{lotteryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="prizelevel != null">
        prizelevel = #{prizelevel,jdbcType=VARCHAR},
      </if>
      <if test="prizetime != null">
        prizetime = #{prizetime,jdbcType=VARCHAR},
      </if>
      <if test="isexchange != null">
        isexchange = #{isexchange,jdbcType=INTEGER},
      </if>
    </set>
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.Prize">
    update prize
    set lotteryid = #{lotteryid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      prizelevel = #{prizelevel,jdbcType=VARCHAR},
      prizetime = #{prizetime,jdbcType=VARCHAR},
      isexchange = #{isexchange,jdbcType=INTEGER}
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dream.bean.Prize">
    <id column="checkcodeid" jdbcType="INTEGER" property="checkcodeid" />
    <result column="checkcode" jdbcType="VARCHAR" property="checkcode" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    checkcodeid, checkcode, telephone, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from checkcode
    where checkcodeid = #{checkcodeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from checkcode
    where checkcodeid = #{checkcodeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="checkcodeid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into checkcode (checkcode, telephone, createtime
      )
    values (#{checkcode,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="checkcodeid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into checkcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkcode != null">
        checkcode,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkcode != null">
        #{checkcode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.Prize">
    update checkcode
    <set>
      <if test="checkcode != null">
        checkcode = #{checkcode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where checkcodeid = #{checkcodeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.Prize">
    update checkcode
    set checkcode = #{checkcode,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where checkcodeid = #{checkcodeid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dream.bean.Prize">
    <id column="prizeid" jdbcType="INTEGER" property="prizeid" />
    <result column="lotteryid" jdbcType="INTEGER" property="lotteryid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="prizelevel" jdbcType="VARCHAR" property="prizelevel" />
    <result column="prizetime" jdbcType="VARCHAR" property="prizetime" />
    <result column="isexchange" jdbcType="INTEGER" property="isexchange" />
  </resultMap>
  <sql id="Base_Column_List">
    prizeid, lotteryid, userid, prizelevel, prizetime, isexchange
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prize
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prize
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="prizeid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prize (lotteryid, userid, prizelevel, 
      prizetime, isexchange)
    values (#{lotteryid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{prizelevel,jdbcType=VARCHAR}, 
      #{prizetime,jdbcType=VARCHAR}, #{isexchange,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.Prize">
    <selectKey keyProperty="prizeid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lotteryid != null">
        lotteryid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="prizelevel != null">
        prizelevel,
      </if>
      <if test="prizetime != null">
        prizetime,
      </if>
      <if test="isexchange != null">
        isexchange,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lotteryid != null">
        #{lotteryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="prizelevel != null">
        #{prizelevel,jdbcType=VARCHAR},
      </if>
      <if test="prizetime != null">
        #{prizetime,jdbcType=VARCHAR},
      </if>
      <if test="isexchange != null">
        #{isexchange,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.Prize">
    update prize
    <set>
      <if test="lotteryid != null">
        lotteryid = #{lotteryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="prizelevel != null">
        prizelevel = #{prizelevel,jdbcType=VARCHAR},
      </if>
      <if test="prizetime != null">
        prizetime = #{prizetime,jdbcType=VARCHAR},
      </if>
      <if test="isexchange != null">
        isexchange = #{isexchange,jdbcType=INTEGER},
      </if>
    </set>
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.Prize">
    update prize
    set lotteryid = #{lotteryid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      prizelevel = #{prizelevel,jdbcType=VARCHAR},
      prizetime = #{prizetime,jdbcType=VARCHAR},
      isexchange = #{isexchange,jdbcType=INTEGER}
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dream.bean.Prize">
    <id column="prizeid" jdbcType="INTEGER" property="prizeid" />
    <result column="lotteryid" jdbcType="INTEGER" property="lotteryid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="prizelevel" jdbcType="VARCHAR" property="prizelevel" />
    <result column="prizetime" jdbcType="VARCHAR" property="prizetime" />
  </resultMap>
  <sql id="Base_Column_List">
    prizeid, lotteryid, userid, prizelevel, prizetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prize
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prize
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.Prize">
    insert into prize (prizeid, lotteryid, userid, 
      prizelevel, prizetime)
    values (#{prizeid,jdbcType=INTEGER}, #{lotteryid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{prizelevel,jdbcType=VARCHAR}, #{prizetime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.Prize">
    insert into prize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prizeid != null">
        prizeid,
      </if>
      <if test="lotteryid != null">
        lotteryid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="prizelevel != null">
        prizelevel,
      </if>
      <if test="prizetime != null">
        prizetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prizeid != null">
        #{prizeid,jdbcType=INTEGER},
      </if>
      <if test="lotteryid != null">
        #{lotteryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="prizelevel != null">
        #{prizelevel,jdbcType=VARCHAR},
      </if>
      <if test="prizetime != null">
        #{prizetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.Prize">
    update prize
    <set>
      <if test="lotteryid != null">
        lotteryid = #{lotteryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="prizelevel != null">
        prizelevel = #{prizelevel,jdbcType=VARCHAR},
      </if>
      <if test="prizetime != null">
        prizetime = #{prizetime,jdbcType=VARCHAR},
      </if>
    </set>
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.Prize">
    update prize
    set lotteryid = #{lotteryid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      prizelevel = #{prizelevel,jdbcType=VARCHAR},
      prizetime = #{prizetime,jdbcType=VARCHAR}
    where prizeid = #{prizeid,jdbcType=INTEGER}
  </update>
</mapper>