<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.dream.bean.User">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="isactive" jdbcType="VARCHAR" property="isactive" />
    <result column="registertime" jdbcType="VARCHAR" property="registertime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="position" jdbcType="VARCHAR" property="position" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, telephone, username, nickname, password, type, isactive, registertime, email, 
    company, position
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.bean.User">
    <selectKey keyProperty="userid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (telephone, username, nickname, 
      password, type, isactive, 
      registertime, email, company, 
      position)
    values (#{telephone,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{isactive,jdbcType=VARCHAR}, 
      #{registertime,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.bean.User">
    <selectKey keyProperty="userid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="telephone != null">
        telephone,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isactive != null">
        isactive,
      </if>
      <if test="registertime != null">
        registertime,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="position != null">
        position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null">
        #{registertime,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.bean.User">
    update user
    <set>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null">
        registertime = #{registertime,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.bean.User">
    update user
    set telephone = #{telephone,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      isactive = #{isactive,jdbcType=VARCHAR},
      registertime = #{registertime,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  	
	<!-- add by wsg -->
	<!-- 通用方法 -->

	<!-- ，参数为对象，返回list<对象> -->
	<select id="listUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		<where>
			<choose>
				<when test="userid != null and userid != '' ">
					userid = #{userid, jdbcType=INTEGER}  
				</when>
				<when test="username != null and username != ''">
					AND username = #{username, jdbcType=VARCHAR}  
				</when>
				<when test="nickname != null and nickname != ''">
					AND nickname = #{nickname, jdbcType=VARCHAR}
				</when>
				<when test="password != null and password != ''">
					AND password = #{password, jdbcType=VARCHAR}
				</when>
				<when test="type != null and type != ''">
					AND type = #{type, jdbcType=VARCHAR}
				</when>
				<when test="isactive != null and isactive != ''">
					AND isactive = #{isactive, jdbcType=VARCHAR}
				</when>
				<when test="email != null and email != ''">
					AND email = #{email, jdbcType=VARCHAR}
				</when>
				<when test="telephone != null and telephone != ''">
					AND telephone = #{telephone, jdbcType=VARCHAR}
				</when>
				<when test="company != null and company != ''">
					AND company = #{company, jdbcType=VARCHAR}
				</when>
				<when test="position != null and position != ''">
					AND position = #{position, jdbcType=VARCHAR}
				</when>
			</choose>
		</where>
	</select>
	
	<select id="detailUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		<where>
			<choose>
				<when test="userid != null and userid != '' ">
					userid = #{userid, jdbcType=INTEGER}  
				</when>
				<when test="username != null and username != ''">
					AND username = #{username, jdbcType=VARCHAR}  
				</when>
				<when test="nickname != null and nickname != ''">
					AND nickname = #{nickname, jdbcType=VARCHAR}
				</when>
				<when test="password != null and password != ''">
					AND password = #{password, jdbcType=VARCHAR}
				</when>
				<when test="type != null and type != ''">
					AND type = #{type, jdbcType=VARCHAR}
				</when>
				<when test="isactive != null and isactive != ''">
					AND isactive = #{isactive, jdbcType=VARCHAR}
				</when>
				<when test="email != null and email != ''">
					AND email = #{email, jdbcType=VARCHAR}
				</when>
				<when test="telephone != null and telephone != ''">
					AND telephone = #{telephone, jdbcType=VARCHAR}
				</when>
				<when test="company != null and company != ''">
					AND company = #{company, jdbcType=VARCHAR}
				</when>
				<when test="position != null and position != ''">
					AND position = #{position, jdbcType=VARCHAR}
				</when>
			</choose>
		</where>
	</select>
	<select id="countUser" resultType="java.lang.Integer">
		select count(*)
  		from user
		<where>
			<choose>
				<when test="userid != null and userid != '' ">
					userid = #{userid, jdbcType=INTEGER}  
				</when>
				<when test="username != null and username != ''">
					AND username = #{username, jdbcType=VARCHAR}  
				</when>
				<when test="nickname != null and nickname != ''">
					AND nickname = #{nickname, jdbcType=VARCHAR}
				</when>
				<when test="password != null and password != ''">
					AND password = #{password, jdbcType=VARCHAR}
				</when>
				<when test="type != null and type != ''">
					AND type = #{type, jdbcType=VARCHAR}
				</when>
				<when test="isactive != null and isactive != ''">
					AND isactive = #{isactive, jdbcType=VARCHAR}
				</when>
				<when test="email != null and email != ''">
					AND email = #{email, jdbcType=VARCHAR}
				</when>
				<when test="telephone != null and telephone != ''">
					AND telephone = #{telephone, jdbcType=VARCHAR}
				</when>
				<when test="company != null and company != ''">
					AND company = #{company, jdbcType=VARCHAR}
				</when>
				<when test="position != null and position != ''">
					AND position = #{position, jdbcType=VARCHAR}
				</when>
			</choose>
		</where>
	</select>
	
	
	<!-- 根据传入的telephone去修改其他字段 -->
 	<update id="updateByTelephone" parameterType="com.dream.bean.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null">
        registertime = #{registertime,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
    </set>
    where telephone = #{telephone,jdbcType=VARCHAR}
  </update>

	<select id="detailUserForActivityvip" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		    userid, telephone, username, email, company, position
		from user
		<where>
			userid = #{userid, jdbcType=INTEGER}
		</where>
	</select>
</mapper>